ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list-container {
  width: 392px;
  height: 264px;
  background-color: #5555bd;
}

#categories {
  margin-bottom: 24;
}
